# envs & secrets
.venv/
.env
api.env

# notebooks & python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

# generated media
clips/
samples/
*.wav
*.zip

# OS/editor
.DS_Store
Thumbs.db
*.code-workspace
